/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'crimson_textitalic';
    src: url('/font/crimson/crimsontext-italic-webfont.eot');
    src: url('/font/crimson/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/crimson/crimsontext-italic-webfont.woff') format('woff'),
         url('/font/crimson/crimsontext-italic-webfont.ttf') format('truetype'),
         url('/font/crimson/crimsontext-italic-webfont.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'crimson_textroman';
    src: url('/font/crimson/crimsontext-roman-webfont.eot');
    src: url('/font/crimson/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/crimson/crimsontext-roman-webfont.woff') format('woff'),
         url('/font/crimson/crimsontext-roman-webfont.ttf') format('truetype'),
         url('/font/crimson/crimsontext-roman-webfont.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimson_textsemibold';
    src: url('font/crimson/crimsontext-semibold-webfont.eot');
    src: url('font/crimson/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/crimson/crimsontext-semibold-webfont.woff') format('woff'),
         url('font/crimson/crimsontext-semibold-webfont.ttf') format('truetype'),
         url('font/crimson/crimsontext-semibold-webfont.svg#crimson_textsemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}





/* header and navigation styles */
header p {
	float: left;
	margin: 30px 0 0 60px;
	font-size: 12px;
	color: #999999;
}

header nav {
	float: right;
	margin: 30px 60px 0 0;

}
header li {
	display: inline;
	padding-left: 20px;
	font-size: 12px;
	color: #336699;
}

header li:hover {
	color: #18AFE0;
	cursor: pointer;
}

header li:last-child {
	color: #18AFE0;
}

header li:last-child:hover {
	color: #336699;
}

/* top section positioning */
section {
	clear: both;
	margin: auto;
	width: 821px;
	position: relative;
	top: 40px;
}

#above-buttons {
	min-height: 250px;
}

#intro h1, p, .hover-intro h1, p {
	font-family: "crimson_textsemibold", "Times New Roman", Georgia, serif;
}

#logo {
	margin-left: 325px;
	margin-bottom: 20px;

}
#intro h1{
	font-family: "crimson_textsemibold", "Times New Roman", Georgia, serif;
	font-size: 60px;
	text-align: center;
	font-weight: bolder;
	padding-bottom: 20px;
	letter-spacing: -3px;

}

#intro p {
	font-family: "crimson_textsemibold", "Times New Roman", Georgia, serif;
	text-align: center;
	padding-bottom: 35px;
	font-size: 20px;

}

/* Below styles for mouseover effects in JavaScript */

.hover-intro{
    position: relative;
}

.hover-intro h1 {
	font-size: 40px;
	padding-bottom: 20px;

}

.hover-intro p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 15px;
	padding-bottom: 35px;
    line-height: 20px;
}
.hover-intro.left img {
	position: absolute;
	z-index: 1;
	bottom: -40px;
	right: 530px;
}

.hover-intro.center img {
	position: absolute;
    z-index: 1;
	bottom: -40px;
	right: 310px;
}

.hover-intro.right img {
	position: absolute;
    z-index: 1;
	bottom: -40px;
	right: 250px;
}

 .hidden {
	display: none;
}



header li, p, #buttons button, h1, h2, p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: center;
	position: relative;
}

/* Style for 3 top page buttons*/
#buttons {
	text-align: center;
}

#buttons a {
    text-decoration: none;

}

#buttons button {
	width: 180px;
	height: 245px;
	margin-right: 35px;
	background: linear-gradient(#ffffff, #efefef);
	border-radius: 8px;
	border: 1px solid #eaeaea;
	box-shadow: 0 0 5px #efefef;
}

#buttons button:hover {
	cursor: pointer;
}

#buttons h1 {
	
	color: #369;
	text-decoration: underline;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;

}

#buttons h2 {
	color: #cc0000;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 12px;

}

#buttons p {
	font-size: 14px;
	line-height: 20px;
}

/* page divider style */

div.divider {
	margin: auto;
	background-image: url(images/img-hr.png);
	background-repeat: no-repeat;
	background-position: 49%;
	padding: 100px;
	
}